.evaluation {
    display:grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

.evaluationLeft {
    padding: 20px 50px;
}

.evaluationRight {
    padding: 20px 50px;
}

.evalType {
    margin-bottom: 20px;
}

.evalType > .title {
    margin-bottom: 10px;
}

.evalVariable {
    margin-bottom: 20px; 
    display: flex;
    flex-direction: column;
}

.evalVariable > .title {
    margin-bottom: 10px;
}

.evalVariable > button {
    border: 0px;
    border-radius: 10px;
    height: 30px;
    font-size: 14px;
    margin-bottom: 2px;
    background-color: #FBFBFB;
}

.evalVariable > button:hover {
    background-color: #EDEDED;
}

.evalVariable > .clickedBtn {
    border: 0px;
    border-radius: 5px;
    height: 30px;
    margin-bottom: 2px;
    font-size: 14px;
    color: white;
    background-color: #00B7A1;
}

.evalVariable > .clickedBtn:hover {
    background-color: #00A490;
}


.evalSubmit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.evalSubmit > button {
    border: 0px;
    border-radius: 20px;
    margin-top: 20px;
    width: 60%;
    height: 60px;
    font-size: 20px;
    font-weight: 600;
    color: white;
    background-color: #00B7A1;
}

.evalSubmit > button:hover {
    background-color: #00A490;
}

.introductionOfEval {
    font-size: 18px;
    margin-bottom: 30px; 
}

.textDragHolder{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.resetHolder{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
}

fieldset.likertScale .likertIndicator {
    border: thin solid #00B7A1;
    background-color: #dddddd;
}

fieldset.likertScale .likertResponse > input:checked + .likertIndicator {
    background-color: #00B7A1;
}