.historybar {
  display: flex;
  padding: 30px 10px 30px 00px;
  background-color: #F4F4F4;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  overflow-x:hidden; 
  overflow-y:auto; 
}

.historybar > .title {
  width: 100%;
  text-align: left;
  font-size: 20px;
  font-weight: 700;
  padding-left: 10px;
  margin-bottom: 10px;
}

.histories {
  display: flex;
  overflow: scroll;
  overflow-x:hidden; 
  overflow-y:auto; 
  flex-direction: column;
  width: 100%;
}

.history {
  width: 100%;
  padding: 0 10px 10px 10px;
  border-bottom: solid 1px #DDDDDD;
}

.history:hover{
  background-color: #EDEDED;
}

.history > .situation {
  margin-top: 10px;
  width: 100%;
  text-align: left;
  font-size: 12px;
}

.history > .dialoge {
  margin-top: 5px;
  width: 100%;
  text-align: left;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 5px;
}

.clicked {
  background-color: #DDDDDD;
}

.clicked:hover{
  background-color: #DDDDDD;
}